$font-body:Verdana, Geneva, Tahoma, sans-serif; 
$font-titles:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$back-color: white;
$primary-color:green;
$secondary-color:orange; 
$dark-text:rgb(32, 33, 36);;
$light-text:white;
$border-color:grey;

