.divisore {
  height: 20px;
}

.divisore {
  height: 20px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border-color: #E0E0E0;
}
.btn:hover {
  transform: scale(0.97);
  border-color: orange;
}
.btn-primary {
  background-color: #0E173B;
}
.btn-primary:hover {
  background-color: rgb(32, 35, 31);
}
.btn-secondary {
  background-color: orange;
}
.btn-secondary:hover {
  background-color: rgb(32, 35, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  cursor: pointer;
}
* h1, * h2, * h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page-content {
  margin: 0px auto;
}

.menu-container {
  display: block;
  position: fixed;
  background-color: #0E173B;
  top: 0px;
  height: 75px;
  width: 100%;
  border-bottom: solid 1px #E0E0E0;
  z-index: 999;
}
.menu-container .menu-desktop {
  display: flex;
  justify-content: right;
  padding-right: 1%;
}
.menu-container .menu-desktop a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.menu-container .menu-desktop li {
  padding: 25px 50px;
  list-style: none;
}
.menu-container .menu-desktop li a:hover {
  padding: 10px 0px;
  color: orange;
  border-bottom: 3px solid orange;
}
.menu-container .menu-desktop li a:active {
  color: orange;
}
.menu-container .menu-mobile .hamburger {
  display: block;
  position: fixed;
  top: 15px;
  right: 80px;
  z-index: 1000;
  font-size: 15px; /* Dimensione dell'icona */
  color: white;
  text-align: center;
}
.menu-container .menu-mobile .hamburger span {
  text-align: center;
  font-size: 30px;
}
.menu-container .menu-mobile .dropdown-menu {
  display: none;
  border: 1px solid #E0E0E0;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu {
  display: block;
  cursor: pointer;
  position: fixed;
  right: 30px;
  background-color: #0E173B;
  z-index: 1000;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile {
  list-style: none;
  margin-right: 0px auto;
  font-size: 1rem;
  text-indent: 1px;
  letter-spacing: 1px;
  padding: 10px;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile a {
  color: white;
  text-decoration: none;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile a:hover {
  padding: 10px 0px;
  color: orange;
  border-bottom: 3px solid orange;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile a:active {
  color: orange;
}

.logo {
  background-color: #0E173B;
  position: fixed;
  top: 30px;
  left: 20px;
  color: white;
  font-weight: bold;
}

.hero-banner {
  min-height: fit-content;
  height: 600PX;
  margin-top: 100px;
  color: rgb(32, 33, 36);
}
.hero-banner .hero-content {
  padding: 50px 20px;
}
.hero-banner .hero-content h1 {
  font-size: 65px;
}
.hero-banner .hero-content h1, .hero-banner .hero-content h2, .hero-banner .hero-content .social-icons {
  margin-bottom: 20px;
}

/*testo della typewriter*/
.CTA {
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  height: auto;
  padding: 5px;
  margin: auto 20px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(25, 25, 35, 0.5647058824);
  color: white;
}

.typewriter-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
}

#typewriter1 {
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end;
}

#typewriter-div2 {
  display: none;
}

#typewriter2 {
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
article h2 {
  margin: 50px 0px 25px 0px;
  font-size: 80px;
}
article .progetti-item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article .card-body-text {
  min-height: 160px;
}
article .accordion-button {
  border: 1px solid #0E173B;
  border-radius: 4px !important;
}
article .accordion-button:not(.collapsed) {
  background-color: #fff6e6 !important;
  color: #f59e00 !important;
  font-size: 20px;
  background-image: none;
}
article .accordion-button:focus {
  border-color: #0E173B !important;
  box-shadow: 0 0 0 0;
}

footer {
  display: inline-flex;
  height: 400px;
  background-color: #E0E0E0;
  width: 100%;
  margin-top: 100px;
}

.sidebar {
  position: absolute;
  right: 30px;
  top: 100px;
  border-left: 1px solid #E0E0E0;
  width: 300px;
  height: 2500px;
}
.sidebar .ritratto {
  margin: 20px 0px 20px 20px;
  width: 270px;
  height: 320px;
}
.sidebar .spotify {
  margin: 50px 0px 20px 20px;
}

/* responsive design*/
@media only screen and (min-width: 1060px) {
  .page-content {
    width: 60%;
    margin-right: 500px;
    margin-left: 100px;
  }
  .typewriter-text {
    font-size: 22px;
  }
  .mobile-only {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1060px) {
  .page-content {
    width: 60%;
    margin-right: 500px;
    margin-left: 90px;
  }
  .typewriter-text {
    font-size: 22px;
  }
  .mobile-only {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .no-mobile {
    display: none !important;
  }
  .page-content {
    width: 90%;
  }
  .mobile-only {
    display: block;
  }
}
@media only screen and (max-width: 760px) {
  article {
    width: 90%;
  }
  article h2 {
    font-size: 70px;
  }
  .mobile-only {
    display: block;
  }
}