.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border-color: #E0E0E0;
}
.btn:hover {
  transform: scale(0.97);
  border-color: orange;
}
.btn-primary {
  background-color: #0E173B;
}
.btn-primary:hover {
  background-color: rgb(32, 35, 31);
}
.btn-secondary {
  background-color: orange;
}
.btn-secondary:hover {
  background-color: rgb(32, 35, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  cursor: pointer;
}
* h1, * h2, * h3, * li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page-content {
  margin: 0% auto;
}

.menu-container {
  display: block;
  position: fixed;
  background-color: #0E173B;
  top: 0px;
  height: 75px;
  width: 100%;
  border-bottom: solid 1px #E0E0E0;
  z-index: 999;
}
.menu-container .menu-desktop {
  display: flex;
  justify-content: right;
  padding-right: 10%;
}
.menu-container .menu-desktop a {
  text-decoration: none;
  color: white;
}
.menu-container .menu-desktop li {
  padding: 25px 50px;
  list-style: none;
}
.menu-container .menu-desktop li li:hover {
  padding: 25px 50px;
  border-bottom: 3px solid #0E173B;
}
.menu-container .menu-mobile .hamburger {
  display: block;
  position: fixed;
  top: 15px;
  right: 80px;
  z-index: 1000;
  font-size: 15px; /* Dimensione dell'icona */
  color: white;
  text-align: center;
}
.menu-container .menu-mobile .hamburger span {
  text-align: center;
  font-size: 30px;
}
.menu-container .menu-mobile .dropdown-menu {
  display: none;
  border: 1px solid #E0E0E0;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu {
  display: block;
  cursor: pointer;
  position: fixed;
  right: 30px;
  background-color: #0E173B;
  z-index: 1000;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile {
  list-style: none;
  margin-right: 0px auto;
  font-size: 1rem;
  text-indent: 1px;
  letter-spacing: 1px;
  padding: 10px;
}
.menu-container .menu-mobile .hamburger:hover .dropdown-menu .dropdown-item-mobile a {
  color: white;
  text-decoration: none;
}

.logo {
  background-color: #0E173B;
  position: fixed;
  top: 10px;
  left: 120px;
}

.hero-banner {
  min-height: fit-content;
  height: 600PX;
  margin-top: 100px;
  color: rgb(32, 33, 36);
  /*testo della typewriter*/
  animation-delay: 4s;
  /* The typing effect */
  /* The typewriter cursor effect */
}
.hero-banner video {
  position: absolute;
  min-width: 100%;
  height: 400px;
  z-index: -1;
}
.hero-banner .ritratto {
  z-index: -1;
  border-radius: 500px;
  border: 2px solid orange;
}
.hero-banner .hero-content {
  padding: 50px 20px;
}
.hero-banner .hero-content h1 {
  font-size: 65px;
}
.hero-banner .hero-content h1, .hero-banner .hero-content h2, .hero-banner .hero-content .social-icons {
  margin-bottom: 20px;
}
.hero-banner .hero-content .social {
  margin-right: 20px;
  padding: 20px 0px;
}
.hero-banner .hero-content .social-icons {
  display: flex;
  justify-content: left;
}
.hero-banner .CTA {
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  height: auto;
  padding: 5px;
  margin: auto 20px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(25, 25, 35, 0.5647058824);
  color: white;
}
.hero-banner .typewriter-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  text-align: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
}
.hero-banner #typewriter1 {
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end;
}
.hero-banner #typewriter-div2 {
  display: none;
}
.hero-banner #typewriter2 {
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

article h2 {
  text-align: center;
  margin: 25px auto;
  font-size: 90px;
}
article .progetti-item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article .card-body-text {
  min-height: 160px;
}

footer {
  display: inline-flex;
}

/* responsive design*/
@media only screen and (min-width: 1060px) {
  .page-content {
    width: 80%;
  }
  .page-content .hero-banner .ritratto {
    position: absolute;
    right: 25%;
    top: 150px;
  }
  .mobile-only {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1060px) {
  .page-content {
    width: 80%;
  }
  .mobile-only {
    display: none;
  }
}
.ritratto {
  position: absolute;
  right: 15%;
  top: 150px;
}

@media only screen and (max-width: 960px) {
  .no-mobile {
    display: none !important;
  }
  .page-content {
    width: 95%;
  }
  .mobile-only {
    display: block;
  }
  .ritratto {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  article h2 {
    font-size: 70px;
  }
  .mobile-only {
    display: block;
  }
  .ritratto {
    display: none;
  }
}