@import "../bootstrap/scss/functions.scss";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/accordion.scss";
@import "../bootstrap/scss/carousel";



$font-body: Arial, Helvetica, sans-serif; 
$font-titles:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

//p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

$back-color: white;
$back-color-2:#0E173B;
$primary-color:#0E173B;
$secondary-color:#FF4D00;
$terziary-color:#00ffff;
$secondary-color-light:orange; 
$dark-text:rgb(32, 33, 36);;
$light-text:white;
$border-color:#E0E0E0;
$btn-hover-color:$terziary-color;





