@import "../bootstrap/scss/functions.scss";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/accordion.scss";
@import "../bootstrap/scss/carousel";



$font-body:Verdana, Geneva, Tahoma, sans-serif; 
$font-titles:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$back-color: white;
$back-color-2:#0E173B;
$primary-color:#0E173B;
$secondary-color:#FF4D00;
$terziary-color:#00ffff;
$secondary-color-light:orange; 
$dark-text:rgb(32, 33, 36);;
$light-text:white;
$border-color:#E0E0E0;
$btn-hover-color: rgb(32, 35, 31);

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    background: $secondary-color;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $terziary-color;
    width: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:$terziary-color;
  }


  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
  }

a{
    cursor:pointer;
  }

  
h1,h2,h3 { font-family: $font-titles;}
