@import "config";

.menu-container {
  li {
    padding: 25px 50px;
    list-style: none;
    
    a {
      text-decoration: none;
      color: $light-text;
      text-transform: uppercase;
    }

    a:hover {
      padding: 10px 0px;
      color: $secondary-color-light;
      border-bottom: 2px solid $secondary-color-light;
      
    }

    a:active {
      color: $secondary-color-light;
    }
  }
    display: block;
    position: fixed;
    background-color: $back-color-2;
    top:0px;
    height: 75px;
    width: 100%;
    border-bottom: solid 1px $border-color;
    z-index: 999;
  }


  .menu-desktop {
    display: flex;
    justify-content: right;
    padding-right: 1%;

  }


  .menu-mobile {
    .hamburger {
      display: block;
      position: fixed;
      top: 15px;
      right: 80px;
      z-index: 1000;
      font-size: 15px;
      /* Dimensione dell'icona */
      color: $light-text;
      text-align: center;


      span {
        text-align: center;
        font-size: 30px
      }
    }

    .dropdown-menu {
      display: none;
      border: 1px solid $border-color;
    }

    .hamburger:hover .dropdown-menu {
      display: block;
      cursor: pointer;
      position: fixed;
      right: 30px;
      background-color: $back-color-2;

      z-index: 1000;

      .dropdown-item-mobile {
        list-style: none;
        margin-right: 0px auto;
        font-size: 1rem;
        text-indent: 1px;
        letter-spacing: 1px;
        padding: 10px;

      }
    }
  }

.logo {
  background-color: $back-color-2;
  position: fixed;
  top: 25px;
  left: 25px;
  color: $light-text;
  font-weight: normal;
  font-size: 18px;
}