@import "config";
@import "header";
@import "buttons";



*{

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 5px;
  background: $secondary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $terziary-color;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$terziary-color;
}

  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:auto;
scroll-padding:10rem; 
      a{
        cursor:pointer;
      }
    
      
    h1,h2,h3 { font-family: $font-titles;}
    
    .temporary-hide{
      display: none;
    }
}

.spacing-div{
height: 100px;
width: 100%;
  }


.page-content{
    margin:30px auto;
    h1{
      font-size: 65px;
    }

}



.hero-banner {
    min-height: fit-content;
    height: 600PX;
    margin-bottom: 100px;
    
    color:$dark-text;
    .hero-content {
      padding: 50px 20px;
      
      h1{ font-size: 65px;
      }  

        h1,h2, .social-icons{
            margin-bottom: 20px;
        }}} 

        
    /*testo della typewriter*/
.CTA {

    width: fit-content;
    height:auto;
    padding: 5px;
    margin:0px 20px;
    text-align: center;
    font-weight: bold;
    background-color: #19192390;
      color: white;
      .typewriter-text{
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        text-align: left;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid $secondary-color-light; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .1em; /* Adjust as needed */
      }
    
      #typewriter1{
        animation: typing 4s steps(50, end),blink-caret .75s step-end;
      }
    
   
      #typewriter2{
        animation:typing 4s steps(50, end),blink-caret .75s step-end infinite;}
      
    
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: $secondary-color-light; }
      }
    
  }

  .typewriter-div-2-spacing {
    height: 35px;
    width: 100%;
  }
  
  #typewriter-div-2{
  display:none;
}

.CTA-btn {
  position: relative;
  margin-top: 60px;
margin-left: 20px;
}

  
  
article {
  h2{
    margin: 50px 0px 25px 0px;
  font-size: 50px;}

  p{
    margin-bottom: 25px;
  }

  label{
    font-size: 20px;
    font-weight: bold;
  }

  .progetti-item{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.card-body-text{
  min-height: 160px;
}

.accordion{
.accordion-button{
  border: 1px solid $primary-color;
  border-radius: 4px !important;
  background-color: $back-color;
}

  .accordion-button:not(.collapsed){
  background-color:lighten($secondary-color, 45%) !important;
  color: darken($secondary-color, 2%) !important;
  font-size:20px;}

.accordion-button:focus{
  border-color:$primary-color !important;
  box-shadow: 0 0 0 0;}
 
}}
footer{
    display:flex;
    flex-direction: column;
    height: fit-content;
    background-color: $border-color;
    width: 100%;
    margin-top: 200px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 100px;
    justify-content: center;
    align-items: center !important;
    p{text-align: center;
    }

    .footer-item-1{
      flex: 1;
      border-bottom: 1px solid $secondary-color;
      padding-bottom: 5px;
      padding-top: 10px;
    }
    
    .footer-item-2{
      flex: 2;
      border-bottom: 1px solid $secondary-color;
      padding-bottom: 5px;
      padding-top: 10px;
      margin-top: 10px;
}

    .footer-item-3{
      flex:1;
    }

    .footer-item{
height: 300px;
    }
    img{
      height: 250px;
      width: 250px;
    }
}

.sidebar{
  position:absolute;
  right: 30px;
  top:100px;
  border-left: 1px solid $border-color;
  width: 260px;
  height: 2500px;
  z-index: -2;

.ritratto {
  margin: 5px;
  width: 270px;
  height: 280px;
}
.spotify{
  position: fixed;
  z-index: -1;
  top: 400px;
  margin: 50px 12px;
}}

.ritratto-mobile {
  position: absolute;
  right: 70px;
  width: 150px; 
  height: 150px; 
}


@import "bonus";
@import "contatti";


/* responsive design*/
@media only screen and (min-width:1060px){
.mobile-only {display: none !important;}
 
  .page-content{
    width: 80%;   
.homepage{
  margin-right: 300px;
}
.secondary-page{
  width: 60%;
  margin: 0px auto;
}

  }
  .typewriter-text{
    font-size: 22px;
  }

  .ritratto-mobile {
    position: absolute;
    right: 470px;
    width: 210px; height: 210px;}

  }



  @media only screen and (min-width:960px) and (max-width:1060px){

  .page-content {
    width: 80%;
    .homepage{
    margin-right: 300px;
  }
  .typewriter-text{
    font-size: 22px;
  }}
.mobile-only {display: none !important;}
  }




@media only screen and (max-width: 960px) {
    .no-mobile{display:none!important;}

    .page-content{
      width: 90%;
    }
    .mobile-only {display:block;}

    .carousel{
      width: 50%;
      margin: auto;
  }
}




@media only screen and (max-width: 760px){
  .page-content{
    margin-top: 0px;

  }
  article {
  width: 90%; 
  h2{
    font-size: 45px;
  }
}
}

.carousel{
  width: 60%;
  margin: auto;
}

.mobile-only {display:block;}





@media only screen and (max-width: 500px){

  .carousel{
  width: 90%;
  margin: 0 auto;
}
.mobile-only {display:block;}
}

 /* responsive solo form */
 input[type='text'],
 input[type='email'],
 select{ width: 250px;
  height: initial;
}

textarea{
    height: 200px;
} 
