@import "../bootstrap/scss/functions.scss";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/accordion.scss";



$font-body:Verdana, Geneva, Tahoma, sans-serif; 
$font-titles:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$back-color: white;
$back-color-2:#0E173B;
$primary-color:#0E173B;
$secondary-color:orange; 
$dark-text:rgb(32, 33, 36);;
$light-text:white;
$border-color:#E0E0E0;
$btn-hover-color: rgb(32, 35, 31);

.divisore{
    height: 20px;
    width: 100%;
}
