@import "config";
@import "buttons";
@import "carousel";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
    
a{
    cursor:pointer;
  }

  h1,h2,h3 { font-family: $font-titles;}
}
.page-content{
    margin:0px auto;
    h1{
      font-size: 65px;
    }

}


.menu-container{
    display: block;
    position: fixed;
    background-color: $back-color-2;
    top:0px;
    height: 75px;
    width: 100%;
    border-bottom: solid 1px $border-color;
    z-index: 999;

.menu-desktop{
            display:flex;
            justify-content:right;
            padding-right: 1%;
            a{
                text-decoration: none;
                color: $light-text;
                text-transform: uppercase;
            }
                     
            li{
                padding: 25px 50px;
                list-style: none;

                a:hover{
                  padding:10px 0px;
                  color: $secondary-color;
                    border-bottom: 3px solid $secondary-color;
            }
            a:active{
              color:$secondary-color;
            }
        }
    }

.menu-mobile{
.hamburger {
            display: block;
            position: fixed;
            top: 15px;
            right: 80px;
            z-index: 1000;
            font-size: 15px; /* Dimensione dell'icona */
            color:$light-text;
            text-align: center;
          
           
          span{
            text-align: center;
            font-size: 30px
          }}
          
          .dropdown-menu{
            display:none;
            border:1px solid $border-color;
          }
          
          .hamburger:hover .dropdown-menu{
            display:block;
            cursor: pointer;
            position: fixed;
            right:30px;
            background-color:$back-color-2;
           
            z-index: 1000;
                        .dropdown-item-mobile{
                            list-style: none;
                          margin-right: 0px auto;
                            font-size: 1rem;
                            text-indent: 1px;
                            letter-spacing: 1px;    
                            padding: 10px;
                             a{
                                color: $light-text;
                                text-decoration: none;
                             }
                             a:hover{
                              padding:10px 0px;
                              color: $secondary-color;
                                border-bottom: 3px solid $secondary-color;
                        }
                        a:active{
                          color:$secondary-color;
                        }
                        }}
  }
  .logo{
    background-color: $back-color-2;
    position: fixed;
    top: 30px;
    left: 20px;
    color: $light-text;
    font-weight: bold;
  }
}

.primo-div{
margin-top: 100px;
}

.hero-banner {
    min-height: fit-content;
    height: 600PX;
    
    color:$dark-text;
    .hero-content {
      padding: 50px 20px;
      
      h1{ font-size: 65px;
      }  

        h1,h2, .social-icons{
            margin-bottom: 20px;
        }}} 
    
    /*testo della typewriter*/
.CTA {
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    height:auto;
    padding: 5px;
    margin:auto 20px;
    text-align: center;
    font-weight: bold;
    background-color: #19192390;
      color: white;
      .typewriter-text{
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        text-align: left;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid $secondary-color-light; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .1em; /* Adjust as needed */
      }
    
      #typewriter1{
        animation: typing 4s steps(50, end),blink-caret .75s step-end;
      }
    
   
      #typewriter2{
        animation:typing 4s steps(50, end),blink-caret .75s step-end infinite;}
      

    
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: $secondary-color-light; }
      }
    
  }

  #typewriter-div-2{
    display: none;
}

  
  
article {
  h2{
    margin: 50px 0px 25px 0px;
  font-size: 50px;}

  .progetti-item{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.card-body-text{
  min-height: 160px;
}

.accordion{
.accordion-button{
  border: 1px solid $primary-color;
  border-radius: 4px !important;
}

  .accordion-button:not(.collapsed){
  background-color:lighten($secondary-color, 45%) !important;
  color: darken($secondary-color, 2%) !important;
  font-size:20px;}

.accordion-button:focus{
  border-color:$primary-color !important;
  box-shadow: 0 0 0 0;}
 
}}
footer{
    display: inline-flex;
    height: 400px;
    background-color: $border-color;
    width: 100%;
    margin-top: 200px;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 100px;
}

.sidebar{
  position:absolute;
  right: 30px;
  top:100px;
  border-left: 1px solid $border-color;
  width: 300px;
  height: 2500px;
.ritratto {
  margin: 20px 0px 20px 20px;
  width: 270px;
  height: 320px;
}
.spotify{
  margin: 50px 0px 20px 20px;
}}

/* responsive design*/
@media only screen and (min-width:1060px) {
  .page-content{
    width: 80%;   
.homepage{
  margin-right: 300px;
}
.secondary-page{
  width: 60%;
  margin: 0px auto;
}



  }
  .typewriter-text{
    font-size: 22px;
  }
.mobile-only {display: none;}
  }
  @media only screen and (min-width:960px) and (max-width:1060px){

  .page-content {
    width: 60%;
    .homepage{
    margin-right: 150px;
  }
  .typewriter-text{
    font-size: 22px;
  }}
.mobile-only {display: none !important;}
  }

@media only screen and (max-width: 960px) {
    .no-mobile{display:none!important;}

    .page-content{
      width: 90%;
    }
    .mobile-only {display:block;}

    .carousel{
      width: 60%;
      height: 300px;
      margin: 0 auto;
  }
}

@media only screen and (max-width: 760px){
  article {
  width: 90%; 
  h2{
    font-size: 45px;
  }
}
.mobile-only {display:block;}
}

@media only screen and (max-width: 500px){
.carousel{
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.mobile-only {display:block;}
}
